html {
  scroll-behavior: smooth;
}
/* no puedo colocar en blanco las letras del navbar probe con todos los codigos y nada ruego pensar en mi mente atrofiada zorry profe */
.navbar-nav {
    padding-left: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb0;
    z-index: 2;
    color: #fff;
}

.navbar-nav a {
  color: white !important;
}

.nav-link {
  color: white;
}


.carousel {
    position: relative;
    z-index: 1;
}

  .quienes-somos{
    width: 100%;
    height: 500px;
    background-color: black;
}

  .container h1{
    color: white;
    text-align:  center;
    padding-top: 50px;
}

    .presentation1{
    width: 300px;
    height: 600px;
    color: white;
    float: left;
    margin-left: 50px;
    padding-top: 50px;
}

.presentation2{
  width: 300px;
  height: 600px;
  color: white;
  float: left;
  margin-left: 50px;
  padding-top: 50px;
}

.presentation3{
  width: 300px;
  height: 600px;
  color: white;
  float: left;
  margin-left: 50px;
  padding-top: 50px;
}

.tarjetas{
  background-color: black;
  padding-left: 30px;
}

.row h1{
  color: white;
  text-align: center;
}

.card{
  margin-left: 20px;
  margin-top: 50px;
}

#Contacto {
  background-color: black!important;
  padding: 20px;
  color: #fff;
  
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: rgb(17, 194, 225);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b7100d;
}

footer {
  background-color: rgb(17, 194, 225);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.redes-sociales {
  display: flex;
  align-items: center;
}

.redes-sociales img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.derechos {
  display: flex;
  align-items: center;
}

.derechos p {
  margin: 0;
}

footer {
  background-color: rgb(17, 194, 225);
}

.fa{
  width: 40px;
  height: 40px;
  float: left;
  color: #fff;
}